a.normal{color:#373a3c;}
a.normal:visited{color:#373a3c;}
a.normal:hover{color:#373a3c;}
.btn.btn-raised.btn-secondary{background-color:orange;color:black;}
.btn.btn-raised.btn-secondary:hover{background-color:green !important;color:white !important;}
.btn.btn-raised.btn-primary{background-color:green !important;color:white !important;}
.btn.btn-raised.btn-primary:hover{background-color:orange !important;color:black !important;}
/*h3{color: white !important;}*/
.col-md-3>h2 {
	height: 100px;
}
.col-md-3 {
	height: 245px;
}
.col-md-4 {
	width: 31.33333333% !important;
	border-radius: 5px !important;
}
.col-md-4 h2 {
	font-weight: bold;
}
footer {
	color: gray;
	bottom: 0px;
	position: static;
	width: 100%;
	background-color: transparent;
}
.jumbotron {
	/*background-color:white;*/
	color: white;
}
body {
	/*background-image: url('/new.jpg');*/
	/*background-color: rgba(256, 256, 256, 1);*/
}
.btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus  {
	background-color: #009688 !important;
}
