a.normal{color:#373a3c;}
a.normal:visited{color:#373a3c;}
a.normal:hover{color:#373a3c;}
.btn-secondary{background-color:orange;color:black;}
.btn-secondary:hover{background-color:green;color:white;}
.btn-primary{background-color:green;color:white;}
.btn-primary:hover{background-color:orange;color:black;}
