block classes
	- var homeclass = undefined
	- var chatclass = undefined
	- var contactclass = undefined
	- var aboutclass = '.active'

extends template

block styles
	style(type='text/css').
		.container {
			background-color: white;
			border: 15px solid white;
		}
		h3 {
			color: black !important;
		}
		
block content
	.container
		.row
			h1= "Authors:"
			.col-md-4(style='height: 450px;')
				a.normal(href='https://techedu.cf/members/alex')
					img(height='150px', src='/img/main.jpg')
					h2 Alex Tsvetanov
				br
				h3 Team leader
				p Developer, Contestant in Informatics
				p Designer
				p DataBases and Server Support
				h3 Trainer
			.col-md-4(style='height: 450px;')
				a.normal(href='https://techedu.cf/members/dimo')
					img(height='150px', src='/aboutus/aboutus/dimo.jpg')
					h2 Dimo Chanev
				br
				h3 Technical Support
				p Developer, Contestant in Informatics
				h3
					| Admin of 
					strong "The Judgata"
		.row
			h1= "Lectors:"
			//
				.col-md-4(style='height: 450px;')
					a.normal(href='https://techedu.cf/members/radoslav_iliev')
						img(style="height: 150px", src='/members/img/radoslav_iliev.png')
						h2 Radoslav Iliev
					h3 Trainer
					ul
						li
							h4 Embedded systems
						li
							h4 Internet of things
						li
							h4 C, Java, Basic
					p
						| The Professional School of Computer Technologies, Pravets, 11
						sup -th
						|  grade.
			.col-md-4(style='height: 450px;')
				a.normal(href='https://techedu.cf/members/iasen_georgiev')
					img(style="height: 150px", src='/members/img/iasen_georgiev.jpg')
					h2 Yasen Georgiev
				h3 Trainer
				ul
					li
						h4 PHP
					li
						h4 MySQL
			.col-md-4(style='height: 450px;')
				a.normal(href='https://techedu.cf/members/marin_shalamanov')
					img(style="height: 150px", src='/members/img/marin_shalamanov.jpg')
					h2 Marin Shalamanov
				h3 Trainer
				ul
					li
						h4 Student at the Faculty of Mathematics and Informatics at Sofia University
					li
						h4 Trainer at SAP Labs Bulgaria
					li
						h4 Trainer in PCHMG
			.col-md-4(style='height: 450px;')
				a.normal(href='https://techedu.cf/members/evlogi_hristov')
					img(style="height: 150px", src='/members/img/evlogi_hristov.jpg')
					h2 Evlogi Hristov
				h3 Trainer
				ul
					li
						h4 Algorithms
					li
						h4 HTML, CSS &amp; JavaScript
					li
						h4 C#
				p
			.col-md-4(style='height: 450px;')
				//a.normal(href='')
				img(style="height: 150px", src='/members/img/no_profile.png')
				h2 Evgeni Vasilev
				h3 Trainer
				ul
					li
						h4 Algorithms
					li
						h4 HTML, CSS &amp; JavaScript
					li
						h4 C/C++
				p
					National Gymnasium of Natural Sciences and Mathematics
