block classes
	- var homeclass = '.active'
	- var chatclass = undefined
	- var contactclass = undefined
	- var aboutclass = undefined

extends template

block content
	.jumbotron(style="/*height: 110%; */width: 100%; background-image: url('/maia.png');")
		.container
			center
				img(style="background-color: rgba(0,0,0,0);", src='/img/acdemy4_logo.png')
				h1.display-3="We develop new learning methods"
	.container
		//.jumbotron
			center
				img.img-responsive(src='/img/acdemy3_logo.png')
		.panel.panel-primary
			.panel-heading
				h4="Tracks"
			.panel-body
				<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get_tracks.php");	?>
		.panel.panel-primary
			.panel-heading
				h4= "Seminars"
			.panel-body
				<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get_seminars.php");	?>
