block classes
	- var homeclass = '.active'
	- var chatclass = undefined
	- var contactclass = undefined
	- var aboutclass = undefined

extends template

block content
	//.jumbotron
		.container
			h1.display-3
				img(src='/drawing.svg')
			p This academy can teach you how to be good at computer sciences
	.container
		.panel.panel-primary
			.panel-heading
				h4="Tracks"
			.panel-body
				<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get_tracks.php");	?>
		.panel.panel-primary
			.panel-heading
				h4= "Seminars"
			.panel-body
				<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get_seminars.php");	?>
