block classes
	- var homeclass = '.active'
	- var chatclass = undefined
	- var contactclass = undefined
	- var aboutclass = undefined

extends template

block styles
	style(type='text/css').
		#u_0_2 { color: white; }

block content
	.jumbotron(style="/*height: 110%; */width: 100%; background-image: url('/maia.png');")
		.container
			center
				img(style="background-color: rgba(0,0,0,0);", src='/img/acdemy4_logo.png')
				h1.display-3
					span="We develop new learning methods"
					.fb-like(data-href='https://www.facebook.com/TechEducationGroup/', data-colorscheme='light', data-layout='standard', data-action='like', data-size='large', data-show-faces='true', data-share='true', style="color:white")


	.container
		//.jumbotron
			center
				img.img-responsive(src='/img/acdemy3_logo.png')
		.panel.panel-primary
			.panel-heading
				h4="Tracks"
			.panel-body
				<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get_tracks.php");	?>
		.panel.panel-primary
			.panel-heading
				h4= "Seminars"
			.panel-body
				<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get_seminars.php");	?>
