block classes
	- var homeclass = '.active'
	- var chatclass = undefined
	- var contactclass = undefined
	- var aboutclass = undefined

extends template

block content
	.jumbotron
		.container
			h1.display-3
				img(src='/img/acdemy2_logo.png')
			p This academy can teach you how to be good at computer sciences
			p
				a.btn.btn-primary.btn-lg(href='/aboutus.php', role='button') Learn more »
	.container
		.row
			.col-md-10
				h1(style="color: white;")= "Tracks"
				<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get_tracks.php");	?>
			.col-md-10
				h1(style="color: white;")= "Seminars"
				<?php include_once ($_SERVER["DOCUMENT_ROOT"] . "/lib/get_seminars.php");	?>
