block classes
	- var homeclass = '.active'
	- var chatclass = undefined
	- var contactclass = undefined
	- var aboutclass = undefined

extends ../../template

block styles
	style(type='text/css').
		body {
			/*background-color: #00AD00;*/
			background-image: url("/128-61.jpg");
		}
		footer {
			color: white;
		}


block content
	.jumbotron
		.container
			h1.display-3 {{title}}
			p This academy can teach you how to be good at computer sciences
	.container
		.row
			| {{all}}
