block classes
	- var homeclass = undefined
	- var chatclass = undefined
	- var contactclass = undefined
	- var aboutclass = undefined

extends ../../template

block styles
	style(type='text/css').
		footer {
			color: white;
		}


block content
	.container
		.panel.panel-primary
			.panel-heading
				h4="{{title}}"
			.panel-body
				{{all}}
