block classes
	- var homeclass = undefined
	- var chatclass = undefined
	- var contactclass = undefined
	- var aboutclass = undefined

extends ../../template

block content
	.container
		.panel.panel-primary
			.panel-heading
				h4="{{title}}"
			.panel-body
				iframe(width='560', height='315', src='{{link}}', frameborder='0', allowfullscreen='')
				h3 {{label}}
